a {
  text-decoration: none;
  color: inherit;
}

/* header .gnbList::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
} */
.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: rgb(250, 183, 205);
  font-size: 0;
  position: relative;
  height: 36px;

  display: flex;
  justify-content: center;
  /* align-items: center; */
}

header h1 {
  position: absolute;
  height: 36px;
  line-height: 36px;
  top: 0;
  left: 0;
}
header .btn {
  position: absolute;
  right: 0;
  height: 36px;
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 35px;
}

header .gnbList {
  display: flex;

  background-color: pink;
  font-size: 16px;
  height: 36px;
  overflow: hidden;
  transition: 0.25s;
  text-align: center;
}

header .gnbList .depth01 {
  flex: 1;
  text-align: center;
}

header .gnbList:hover {
  height: 200px;
}

.login {
  background-color: white;
  border: 1px solid rgb(243, 155, 170);
  border-radius: 10px;
}

.depth01 > a {
  display: block;
  box-sizing: border-box;
}

.depth01 > a:hover {
  border-bottom: 1px solid #fff;
}

header .gnbList .depth01::after {
  content: "";
  display: none;
  height: 2px;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 34px;
  left: 0;
}
header .gnbList .depth01:hover::after {
  display: block;
}
header .gnbList .depth01 {
  /* float: left; */
  list-style: none;
  position: relative;
}

header .gnbList .depth01 > a {
  display: block;
  width: 100px;
  padding: 10px 0;
}

header .gnbList .depth01 > ul li {
  margin: 10px 0;
}
header .gnbList > .depth01 > a:hover {
  /* background-color: #fff; */
}

header .gnbList > .depth01 > a:active {
  color: #b3b3b3;
}

header .gnbList .depth01 a:focus {
  border: 1px solid #fff;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.container .bannerList {
  display: inline-block;
}
.bannerList li {
  display: inline-block;
}

.bannerList li {
  font-size: 16px;
  display: inline-block;

  background-image: url(./clipart1273128.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  box-sizing: border-box;

  /* text-align: center; */
  line-height: 200px;
  color: #fff;

  margin: 10px;
  transition: 0.25s;
}

.bannerList li:hover {
  background-size: auto 120%;
  color: black;
}

.bannerList .first {
  background-image: url(./sudal.jpg);
}

.bannerList .second {
  background-image: url(./cat.jpg);
}

.bannerList .third {
  background-image: url(./126588db9d20e18ebae80ad547e784ffc25c2e2a62d41e2e0d6bc0ec45bf77c4e0dc3f757cd2ea5e1690ace9288f424edb6f0c5bfd5da345f4b4c254e6d129605bb430001ecd8338c4d150572c8ec903633609e734322cd8b9.jpg);
}

.bannerList li a {
  width: 150px;
  height: 200px;
  box-sizing: border-box;

  display: inline-block;

  text-decoration: none;
  color: inherit;

  border: 1px solid black;
  border-radius: 4px;
}

.bg {
  height: 300px;

  background-image: url(./clipart1273128.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg01 {
  margin-top: 300px;
  background-image: url(./clipart834319.png);
}

.bg02 {
  background-image: url(./clipart13619.png);
  background-position: right;
  margin-top: 300px;
}

/* 채팅 상담 버튼 */
.box {
  width: 80px;
  height: 80px;
  background-color: black;
  border: 1px solid black;
  font-size: 40px;
  color: white;
  text-align: center;
  border-radius: 50%;
  line-height: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border: 3px solid #000;
  opacity: 0;
  animation-name: slideUp, fadeInText;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: 0.25s;
}
.box:hover {
  background-color: #fff;
  color: #000;
}
/* 초기값 설정 x =>원래 포지션 기준으로 움직임. animaiton-fill-mode설정 필요 */
@keyframes slideUp {
  to {
    transform: translateY(-50px);
  }
}

@keyframes fadeInText {
  100% {
    opacity: 1;
  }
}
